<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head');%>

    <body class="container">
        <%- include('../partials/header',{pagina:'Produto'});%>
            <main class="login-main">
                <div class="box-login">
                    <% if (message) { %>
                        <%= message %>
                            <% } %>
                                <form action="/register" method="POST" class="form-login">
                                    <div class="div-input">
                                        <label for="name">Name</label>
                                        <input class="item-input" type="text" id="name" name="name" required>
                                    </div>
                                    <div class="div-input">
                                        <label for="email">Email</label>
                                        <input class="item-input" type="email" id="email" name="email" required>
                                    </div>
                                    <div class="div-input">
                                        <label for="password">Password</label>
                                        <input class="item-input" type="password" id="password" name="password"
                                            required>
                                    </div>
                                    <div class="div-buttom-login">
                                        <button class="button-login" type="submit">Salvar</button>
                                    </div>
                                    <div class="div-register-login">
                                        <a class="link-register-login" href="/login">Login</a>
                                    </div>
                                </form>
                </div>
            </main>
    </body>

    <%- include('../partials/footer');%>


</html>