<header class="header-container">
    <nav class="header-nav-container">
        <div class="div-header-logo">
            <a class="header-logo" href="/">
                <img src="https://picsum.photos/70/70?random=20" class="logo" alt="logo">
            </a>
        </div>

        <ul class="header-pages">
            <li class="header-li-item">
                <a class="font-sans-medium" href="/">Catálogo</a>
            </li>
            <li class="header-li-item">
                <a class="font-sans-medium" href="/sobre">Sobre</a>
            </li>

            <% if(username) { %>
                <li class="header-li-item-right">
                    <p class="font-sans-medium">
                        Página: <%= typeof pagina !='undefined' ? pagina:'Outro' %>
                    </p>
                </li>
                <li class="header-li-item-right">
                    <p class="font-sans-medium" href="">
                        Usuário: <%=username%>
                    </p>
                </li>
                <li class="header-li-item-right">
                    <a class="font-sans-medium" href="/insertProduct">Inserir Produto</a>
                </li>
                <li class="header-li-item-right">
                    <a class="font-sans-medium" href="/logout">Sair</a>
                </li>
                <% } else { %>
                    <li class="header-li-item-right">
                        <a class="font-sans-medium" href="/login">Entrar</a>
                    </li>
                    <% } %>
        </ul>

    </nav>
</header>