<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head');%>

    <body class="container">
        <%- include('../partials/header',{pagina:'Produto', login:login});%>
            <main class="login-main">
                <div class="display-login">
                    <% if (message) { %>
                        <%= message %>
                            <% } %>
                                <form action="/register" method="POST">
                                    <div class="input-field-login">
                                        <label for="name">Name</label>
                                        <input class="username" type="text" id="name" name="name" required>
                                    </div>
                                    <div class="input-field-login">
                                        <label for="email">Email</label>
                                        <input class="username" type="email" id="email" name="email" required>
                                    </div>
                                    <div class="input-field-login">
                                        <label for="password">Password</label>
                                        <input class="password" type="password" id="password" name="password" required>
                                    </div>
                                    <button class="button-login" type="submit">Registrar</button>
                                </form>
                                <div>
                                    <a href="/login">Login</a>
                                </div>
                </div>
            </main>
    </body>

    <%- include('../partials/footer');%>


</html>